body {
  font-family: "Roboto", sans-serif;
}

/* Main Page */
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}
.logo:hover {
  color: var(--navyblue, #2e2f42);
}

.studio {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--navyblue, #2e2f42);
}

.studio-2 {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--cloud, #f4f4fd);
}
.logo-2:hover {
  color: var(--cloud, #f4f4fd);
}

.studio-2:hover {
  color: var(--iris, #4d5ae5);
}

.studio:hover {
  color: var(--iris, #4d5ae5);
}

.logo-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.page {
  text-decoration: none;
}
.page:hover {
  color: var(--iris, #4d5ae5);
}

.page {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--navyblue, #2e2f42);
}

.address-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}

.address-link:hover {
  color: var(--iris, #4d5ae5);
}

.title {
  font-size: 20px;
  font-style: inherit;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2e2f42);
}

.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  color: var(--white, #fff);
  background: var(--navyblue, #2e2f42);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
}
.button:hover,
.button:focus {
  color: var(--navyblue);
}

.footer-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--cloud, #f4f4fd);
}
.bg-footer {
  background: var(--navyblue, #2e2f42);
}

/* Portfolio Page */
.button-filter {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  color: var(--iris, #4d5ae5);

  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--navyblue, #2e2f42);
  background: var(--ocean, #404bbf);
}

.project-list {
  list-style: none;
}
.project {
  text-decoration: none;
}

.project-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2e2f42);
}

.type {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}
