:root {
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --white: #fff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --slate: #434455;
  --navyblue: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* Main Page */
.logo,
.studio {
  display: inline-block;
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  line-height: 1.2;
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}

.studio-2 {
  color: var(--cloud);
}

.logo-link {
  font-size: 0;
  text-decoration: none;
}

.logo-link > span {
  font-size: 26px;
}

.list {
  list-style: none;
}

.nav-menu .page {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.contacts-menu .item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.bg-hero {
  background-color: var(--navyblue);
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navyblue);
}

.benefits .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--slate);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--navyblue);
}

.bg-team {
  background-color: var(--cloud);
}

.team .name,
.team .position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: var(--navyblue);
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team .position {
  color: var(--slate);
}

.button {
  font-family: inherit;
  border-color: transparent;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.primary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--iris);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--ocean);
}

.button.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--cloud);
  color: var(--iris);
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  color: var(--cloud);
  background-color: var(--ocean);
}

.footer-description {
  color: var(--cloud);
}
.page-footer.bg-footer {
  background: var(--navyblue);
}

/* Portfolio Page */

.project {
  text-decoration: none;
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--slate);
}
